<header>
	<h1 class='headline'></h1>
	 <h2>ようこそBookerへ！</h2>
</header>

<!-- main-vsual用div -->
<div class="main-visual">
	<div class="main-vsial-content">
		<p class="main-visual-text">
			Bookersでは、さまざまな書籍に関するあなたの意見や<br>
			印象を共有し交換することができます。
		</p>
		<P>印象を共有し交換すること<br>
		ができます。
	</P>
	</div>
</div>
<p>
	<%= link_to "start", books_path %>
</p>


